ion-grid {
    --ion-grid-padding: 10px;
    --ion-grid-width: 100%;

    ion-col {
        --ion-grid-column-padding: 10px;
        --ion-grid-column-padding-lg: 10px;
        --ion-grid-column-padding-md: 10px;
        --ion-grid-column-padding-sm: 10px;
        --ion-grid-column-padding-xl: 10px;
        --ion-grid-column-padding-xs: 10px;
    }
}

ion-segment-button {
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}

ion-toolbar {
    --background: #fafafa;
}

ion-searchbar {
    --border-radius: 0 !important;
    height: 74px !important;

    .searchbar-input-container {
        height: 50px !important;
    }
}

ion-badge {
    font-weight: 500;
}

ion-list {
    padding: 0 !important;
}

table.table.table-bordered.table-fixed.monthview-datetable small {
    text-transform: uppercase;
    font-size: 70%;
}

.monthview-current {
    background-color: var(--ion-background-color) !important;
    color: var(--ion-color-medium-tint) !important;
}

.monthview-selected {
    background-color: var(--ion-background-color) !important;
    color: var(--ion-color-primary) !important;
}

.monthview-primary-with-event,
.calendar-event-inner {
    background-color: var(--ion-color-primary) !important;
    color: #fff !important;
}